<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.daksha.myapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/goku_1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MenuActivity"
            android:label="Menu" />
        <activity
            android:name=".ToastActivity"
            android:label="Toast Message" />
        <activity android:name=".New" />
        <activity
            android:name=".Greet_User"
            android:label="Greet User" />
        <activity
            android:name=".NewActivity"
            android:label="New Activity" />
        <activity
            android:name=".MainActivity"
            android:label="Main Activity" />
        <activity
            android:name=".SimpleCalculatorActivity"
            android:label="Simple Calculator" />
        <activity
            android:name=".BenchmarkingActivity"
            android:label="Benchmarking" />
        <activity
            android:name=".WebViewActivity"
            android:label="Web View" />
        <activity
            android:name=".SendTextActivity"
            android:label="Sending Message" />
        <activity
            android:name=".MassageActivity"
            android:label="Massage" />
        <activity
            android:name=".NavigatorActivity"
            android:label="Navigator Activity" />
        <activity
            android:name=".NewsActivity"
            android:label="News Activity" />
        <activity
            android:name=".LifeCycleActivity"
            android:label="Activity LifeCycle" />
        <activity
            android:name=".ContextMenuActivity"
            android:label="Context Menu" />
        <activity
            android:name=".BackgroundColor"
            android:label="Background Color" />
        <activity
            android:name=".ImageAnimation"
            android:label="Image Animation" />
        <activity
            android:name=".SplashScreenActivity"
            android:label="Splash Screen" />
        <activity
            android:name=".ImageSharingActivity"
            android:label="Image Sharing" />
        <activity
            android:name=".AudioPlayerActivity"
            android:label="Audio Player" />
        <activity
            android:name=".ToggleWifiActivity"
            android:label="Toggle On/Off Wifi" />
        <activity
            android:name=".BroadcastReceiverActivity"
            android:label="Broadcast Receiver" />

        <!--
        <receiver android:name=".MyReceiver">
            <intent-filter>
                <action android:name="sagar.CUSTOM_INTENT" />
            </intent-filter>
        </receiver>
        -->

        <activity
            android:name=".AlbumDesignActivity"
            android:label="Album Design" />
        <activity
            android:name=".UserRegistrationActivity"
            android:label="User Registration" />
        <activity
            android:name=".WindowsThemeActivity"
            android:label="Windows Theme" />
        <activity
            android:name=".ImageEditActivity"
            android:label="Image Edit">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".A1"
            android:label="A1" />
        <activity
            android:name=".A2"
            android:label="A2" />
        <activity
            android:name=".ContactInfoActivity"
            android:label="Contact Information" />
        <activity
            android:name=".ListOfSensorsActivity"
            android:label="List Of Sensors" />
        <activity
            android:name=".MagneticFieldCompass"
            android:label="Magnetic Field Compass" />
        <activity
            android:name=".ShakeSensorActivity"
            android:label="Shake Sensor" />
        <activity
            android:name=".BluetoothDevicesActivity"
            android:label="Bluetooth Devices" />
        <activity
            android:name=".LoginUser"
            android:label="Login User" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity
            android:name=".MyAccountActivity"
            android:label="MyAccountActivity" />
        <activity
            android:name=".BenchmarkTaskActivity"
            android:label="Benchmark Task" />
        <activity
            android:name=".AsyncTaskDemoActivity"
            android:label="Async Task Demo" />
        <activity
            android:name=".ImageEditTaskActivity"
            android:label="Image Edit Task" />
        <activity
            android:name=".XMLParserActivity"
            android:label="XML Parser" />
        <activity
            android:name=".JSONParserActivity"
            android:label="JSON Parser" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".GoogleMapsDemoActivity"
            android:label="Google Maps"></activity>
        <activity
            android:name=".AndroidGPSTrackingActivity"
            android:label="AndroidGPSTracking"></activity>
        <activity
            android:name=".GoogleMapsMarkerActivity"
            android:label="GoogleMapsMarker">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>